body{
    background-color: white;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

h1, h2, h3{
    line-height: 1.2;
}



p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

.navbar{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid #FFCC00;
    margin-bottom: 30px;
}

.genre{
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 3px solid #FFCC00;
    border-top: 3px solid #FFCC00;
}

.title{
    margin-bottom: 12px;
    border-bottom: 3px solid #FFCC00;
    border-top: 3px solid #FFCC00;
}

.story {
    display: flex;
    gap: 10px;
}

/* -------------Images------------- */
.imageBox img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
/* ____exLargeBox Img____ */
.exLargeBox .imageBox{
    height: 400px;
    margin-bottom: 3px;
}

/* ____mediumBox Img____ */
.mediumBox .imageBox{
    flex: 1;
    height: 200px;
}

.mediumBox .text{
    flex: 2;
    /* height: 200px; */
}

/* ____smallBox Img____ */
.smallBox .imageBox {
    flex: 1;
    height:100px;
}

.smallBox .text {
    flex: 2;
}

.banner {
    height: 100px;
    background-color: #FFCC00;
}

/* -------------Hover------------- */
/* .imageBox,
.exLargeBox,
.mediumBox,
.smallBox,
.story {
    transition: transform 0.4s ease;
}



.exLargeBox:hover,
.mediumBox:hover,
.story:hover  {
    transform: scale(1.02);
}

.exLargeBox:hover h1,
.mediumBox:hover h2,
.story:hover h3 {
    color: #FFCC00;
}

.exLargeBox:hover p,
.mediumBox:hover p,
.story:hover p {
    color: black;
}

.film .exLargeBox:hover p {
    color: white;
} */

/* -------------Extra Large Box------------- */

.exLargeBox p.author{
    font-family: "Space Mono", monospace;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 3px solid #FFCC00;
}

/* -------------Small Story------------- */
.smallBox p.author{
    font-family: "Space Mono", monospace;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 1.8px solid #FFCC00;
}

.smallBox h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.smallBox {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* -------------Medium Story------------- */
.mediumBox p.author{
    font-family: "Space Mono", monospace;
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 3px solid #FFCC00;
}

.mediumBox h2{
    text-transform: uppercase;
}

.mediumBox p{
    color: rgb(109, 106, 106);
}

/* -------------Banner------------- */
.width{
    width: 100%;
    height: 6px;
}

/* -------------View Story------------- */
.catLoc{
    display: flex;
    gap: 10px;
}

.category{
    border: 2px solid rgb(36, 36, 36);
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 5px 0px 5px;
}

.Location{
    border: 2px solid rgb(36, 36, 36);
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 5px 0px 5px;
}
.viewImg{
    margin-bottom: 0px;
}

.shortHeadline{
    font-family: "Space Mono", monospace;
    font-size: 12px;
    color: gray;
}

.author{
    font-family: "Space Mono", monospace;
    font-size: 14px;
    color: rgb(70, 69, 69);
    margin-bottom: 0px;
}

.published{
    font-family: "Space Mono", monospace;
    font-size: 14px;
    color: rgb(70, 69, 69);
    border-bottom: 3px solid #FFCC00;
}
