body{
    background-color: white;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

h1, h2, h3{
    line-height: 1.2;
}



p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

p.author{
    font-family: "Space Mono", monospace;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 3px solid #b2c9af;
}

.genre{
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 3px solid #b2c9af;
    border-top: 3px solid #b2c9af;
}

.title{
    margin-bottom: 12px;
    border-bottom: 3px solid #b2c9af;
    border-top: 3px solid #b2c9af;
}

.story {
    display: flex;
    gap: 10px;
}

/* -------------NavBar------------- */
.navBarBackground{
    background-color: #c0c7bf;
    margin-bottom: 30px;
}

.navbar{
    gap: 20px;
    display: flex;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    padding: 10px;
    justify-content: space-between;
}

.navbar input[type=text] {
  float: right;
  padding: 3px;
  padding-left: 9px;
  border-radius: 30px;
  font-size: 17px;
}

.pageLinks{
    display: flex;
    gap: 60px;
    justify-content: right;
    align-items: center;
    font-weight: 500;
}

.titleOfPage h1{
    display: flex;
    justify-content: center;
    font-family: "EB Garamond", serif;;
}

/* -------------NavBar dropdown------------- */

.dropbtn {
  background-color: #a6b6a4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #818d80;
}

.dropdown {
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a6b6a4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 25px 10px;
}

.subDropBtn{
  color: white;
  background-color: #a6b6a4;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.subDropBtn:hover {
  background-color: #cfd9cc;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  /* display: block; */
}

.dropdown-content a:hover {background-color: #b2c9af}

.show {display:block;}

/* -------------Footer------------- */
.footerBackground{
    background-color: #c0c7bf;
    margin-bottom: 30px;
}

.footerInfo{
    display: flex;
    padding: 30px 50px;
    font-family: "EB Garamond", serif;
}

.footerText{
    display: flex;
    gap: 55px;
    justify-content: left;
}

.titleFooter{
    text-align: right;
    margin-left: auto;
}

.footerInfo h3{
    font-weight: 600;
}

.linksFooter{
    display: flex;
    flex-direction: column;
}

.legalFooter ul:hover{
    text-decoration: underline;
}

.linksFooter a:hover{
    text-decoration: underline;
}

/* -------------locations filter------------- */

.toplocation{
    display: flex;
    font-family: "Space Mono", monospace;
    color: gray;
    text-transform: uppercase;
    padding-top: 2px;
    gap: 50px;
    justify-content: center; 
    border-bottom: 3px solid #b2c9af;
}

.locationfilter{
    font-size: 10px;
}
/* -------------Admin------------- */
.adminMode{
    display: flex;
    gap: 10px;
}

.adminMode li{
    border: 1px solid;
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
    padding: 0px 5px 0px 5px;
    text-transform: uppercase;
}

/* -------------Admin------------- */
.createStory{
    padding: 30px;
}

/* -------------Images------------- */
.imageBox img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
/* ____exLargeBox Img____ */
.exLargeBox .imageBox{
    height: 400px;
    margin-bottom: 3px;
}

/* ____mediumBox Img____ */
.mediumBox .imageBox{
    flex: 1;
    height: 200px;
}

.mediumBox .text{
    flex: 2;
    /* height: 200px; */
}

/* ____smallBox Img____ */
.smallBox .imageBox {
    flex: 1;
    height:100px;
}

.smallBox .text {
    flex: 2;
}

/* ____view Img____ */
/* .viewImg{
    width:100%;
    height:100%;
} */


/* -------------Small Story------------- */
.smallBox p.author{
    border-bottom: 1.8px solid #b2c9af;
}

.smallBox h3{
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}

.smallBox {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* -------------Medium Story------------- */

.mediumBox h2{
    /* text-transform: uppercase; */
}

.mediumBox p{
    color: rgb(109, 106, 106);
}

/* -------------Black Background------------- */
.blackBackground{
    background-color: black;
}

.darkModeSection{
    color: white;
    padding: 20px;
}

.darkModeSection p.author{
    color: rgb(192, 190, 190);
}

/* -------------Slide Show------------- */
.slidesImages{
    width: 100%;
    height: 600px;
    overflow: hidden; 
}

.slidesImages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySlides h3{
    font-size: 40px;
}

.slideshow h3{
    /* text-transform: uppercase; */
    text-align: center;
}

/* .dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;

} */

/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

/* -------------View Story------------- */
.catLoc{
    display: flex;
    gap: 10px;
}

.category{
    border: 2px solid rgb(36, 36, 36);
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 5px 0px 5px;
}

.Location{
    border: 2px solid rgb(36, 36, 36);
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 5px 0px 5px;
}
.viewImg img{
    width: 100%;     
    height: auto;  
    display: block;
}

.shortHeadline{
    font-family: "Space Mono", monospace;
    font-size: 12px;
    color: gray;
}

.author{
    font-family: "Space Mono", monospace;
    font-size: 14px;
    color: rgb(70, 69, 69);
    margin-bottom: 0px;
}

.published{
    font-family: "Space Mono", monospace;
    font-size: 14px;
    color: rgb(70, 69, 69);
    border-bottom: 3px solid #b2c9af;
}

/* -------------Related Stories------------- */
.rsStories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rsSmallBox {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.relatedStories {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.relatedStories .imageBox {
    height: 120px;
}