body{
    background-color: white;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

h1, h2, h3{
    line-height: 1.2;
}



p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

h1 {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}

.navbar{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid #FFCC00;
}

.genre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 3px solid #FFCC00;
    font-family: "Jost", sans-serif;
}

.story {
    display: flex;
    gap: 10px;
}

/* -------------Images------------- */
.imageBox{
    width: 100%;
    object-fit: cover;
}

.exLargeBox .imageBox{
    height: 400px;
    margin-bottom: 3px;
}

.smallBox .imageBox {
    flex: 1;
    height:140px;
}

.mediumBox .imageBox{
    height: 500px;
}

.smallBox .text {
    flex: 3;
}

/* -------------Hover------------- */
/* .imageBox,
.exLargeBox,
.mediumBox,
.smallBox,
.story {
    transition: transform 0.4s ease;
}



.exLargeBox:hover,
.mediumBox:hover,
.story:hover  {
    transform: scale(1.02);
}

.exLargeBox:hover h1,
.mediumBox:hover h2,
.story:hover h3 {
    color: #FFCC00;
}

.exLargeBox:hover p,
.mediumBox:hover p,
.story:hover p {
    color: black;
}

.film .exLargeBox:hover p {
    color: white;
} */

/* -------------Extra Large Box------------- */

.exLargeBox p.author{
    font-family: "Space Mono", monospace;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 3px solid #FFCC00;
}

/* -------------Small Story------------- */
.smallBox p.author{
    font-family: "Space Mono", monospace;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 1.8px solid #FFCC00;
}

.smallBox h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.smallBox .text {
    flex:2
}

.smallBox {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* -------------Medium Story------------- */
.mediumBox p.author{
    font-family: "Space Mono", monospace;
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 3px solid #FFCC00;
}

.mediumBox h2{
    text-transform: uppercase;
}

.mediumBox p{
    color: rgb(109, 106, 106);
}
